<h1> Spotify Searcher </h1>


<div>
  <form action="/artists" method="GET">
    <input type="text" name="artistInput" placeholder="Search for an Artist!">

    <button type="Submit" class="searchButton"> Search for an Artist </button>
  </form>
</div>
